version: '3.9'
services:
  mongo:
    image: mongo:8.2@sha256:474f5c3bf0e355bb97dafda730e725169a4d51c5578abf7be9ec7ad3fdee4481
    hostname: mongo
    container_name: unifi__mongo
    restart: unless-stopped

    volumes:
      - type: volume
        source: mongo_data
        target: /data/db

    command: --wiredTigerCacheSizeGB 1

    deploy:
      resources:
        limits:
          memory: 2048m

  unifi:
    image: goofball222/unifi:10.1.85@sha256:cca3bbce1b13a2f1d6030ca90209922f6dcccd605b12ed9c3289d082926e7bfa
    hostname: unifi
    container_name: unifi__unifi
    restart: unless-stopped

    environment:
      - TZ=JST
      - DB_MONGO_LOCAL=false
      - DB_MONGO_URI=mongodb://mongo:27017/unifi
      - STATDB_MONGO_URI=mongodb://mongo:27017/unifi_stat
      - UNIFI_DB_NAME=unifi

    links:
      - mongo

    ports:
      - '3478:3478/udp'   # STUN
      - '8080:8080'       # Device Communication
      - '8443:8443'       # Web interface
      - '8880:8880'       # Guest hotspot (HTTP)
      - '8843:8843'       # Guest hotspot (HTTPS)
      - '10001:10001/udp' # Device Discovery

    volumes:
      - type: bind
        source: /etc/localtime
        target: /etc/localtime
        read_only: true

      - type: volume
        source: unifi_cert
        target: /usr/lib/unifi/cert

      - type: volume
        source: unifi_data
        target: /usr/lib/unifi/data

      - type: volume
        source: unifi_logs
        target: /usr/lib/unifi/logs

    networks:
      - default

    deploy:
      resources:
        limits:
          memory: 2048m


volumes:
  unifi_logs:
    name: unifi__unifi_logs

  unifi_cert:
    name: unifi__unifi_cert

  unifi_data:
    name: unifi__unifi_data

  mongo_data:
    name: unifi__mongo_data

networks:
  default:
    name: unifi__default
